# 2.Use case : 2                         (2011 IndiaCensus)

In [16]:
import pandas as pd
import numpy as np

In [17]:
census = pd.read_csv("./dataset/india-districts-census-2011.csv")
data = census

In [18]:
df = pd.DataFrame(data)

In [66]:
df.columnsumns

Index([u'District code', u'State name', u'District name', u'Population',
       u'Male', u'Female', u'Literate', u'Male_Literate', u'Female_Literate',
       u'SC',
       ...
       u'Power_Parity_Rs_90000_150000', u'Power_Parity_Rs_45000_150000',
       u'Power_Parity_Rs_150000_240000', u'Power_Parity_Rs_240000_330000',
       u'Power_Parity_Rs_150000_330000', u'Power_Parity_Rs_330000_425000',
       u'Power_Parity_Rs_425000_545000', u'Power_Parity_Rs_330000_545000',
       u'Power_Parity_Above_Rs_545000', u'Total_Power_Parity'],
      dtype='object', length=118)

In [20]:
#1. Create a geographic map of states with low literacy rates.

In [57]:
df['District code']

0        1
1        2
2        3
3        4
4        5
5        6
6        7
7        8
8        9
9       10
10      11
11      12
12      13
13      14
14      15
15      16
16      17
17      18
18      19
19      20
20      21
21      22
22      23
23      24
24      25
25      26
26      27
27      28
28      29
29      30
      ...
610    611
611    612
612    613
613    614
614    615
615    616
616    617
617    618
618    619
619    620
620    621
621    622
622    623
623    624
624    625
625    626
626    627
627    628
628    629
629    630
630    631
631    632
632    633
633    634
634    635
635    636
636    637
637    638
638    639
639    640
Name: District code, dtype: int64

In [22]:
(df.Literate_Education).head(3)

0    405015
1    374972
2     75493
Name: Literate_Education, dtype: int64

In [23]:
temp= df[['State name','Population','Literate']]

In [31]:
temp.isnull().any()

State name    False
Population    False
Literate      False
dtype: bool

In [32]:
state = list(temp['State name'].unique())

In [33]:
temp[temp["State name"]==state[1]]

          State name  Population  Literate
22  HIMACHAL PRADESH      519080    323842
23  HIMACHAL PRADESH     1510075   1152640
24  HIMACHAL PRADESH       31564     21845
25  HIMACHAL PRADESH      437903    307672
26  HIMACHAL PRADESH      999777    723747
27  HIMACHAL PRADESH      454768    358091
28  HIMACHAL PRADESH      521173    399715
29  HIMACHAL PRADESH      381956    287620
30  HIMACHAL PRADESH      580320    428578
31  HIMACHAL PRADESH      529855    362645
32  HIMACHAL PRADESH      814010    612642
33  HIMACHAL PRADESH       84121     60699

In [34]:
def states_name_pop(name):
    state_name =  temp[temp["State name"]== name]
    popul      =  np.sum(state_name["Population"].astype("float"))
    literates  =  np.sum(state_name['Literate'].astype('float'))
    lr         =  (literates/popul)*100
    return(popul,literates,lr)

In [59]:
combined = []
for i in range(len(state)):
    name = state[i]
    [popul,literates,lr] = states_name_pop(name)
    combined.append([i+1,name,popul,literates,lr])

In [62]:
lr = pd.DataFrame(combined,columns=['State code','state_name','Population','Literates','literacy_rate'])

In [63]:
lr

,State code,state_name,Population,Literates,literacy_rate
0,1,JAMMU & KASHMIR,12541302.0,7067233.0,56.351669
1,2,HIMACHAL PRADESH,6864602.0,5039736.0,73.416288
2,3,PUNJAB,27743338.0,18707137.0,67.429294
3,4,CHANDIGARH,1055450.0,805438.0,76.312284
4,5,UTTARAKHAND,10086292.0,6880953.0,68.220839
5,6,HARYANA,25351462.0,16598988.0,65.475466
6,7,NCT OF DELHI,16787941.0,12737767.0,75.874504
7,8,RAJASTHAN,68548437.0,38275282.0,55.836841
8,9,UTTAR PRADESH,199812341.0,114397555.0,57.252497
9,10,BIHAR,104099452.0,52504553.0,50.436916
10,11,SIKKIM,610577.0,444952.0,72.874019
11,12,ARUNACHAL PRADESH,1383727.0,766005.0,55.358102
12,13,NAGALAND,1978502.0,1342434.0,67.851031
13,14,MANIPUR,2855794.0,1908476.0,66.828210
14,15,MIZORAM,1097206.0,848175.0,77.303168
15,16,TRIPURA,3673917.0,2804783.0,76.343124
16,17,MEGHALAYA,2966889.0,1785005.0,60.164199
17,18,ASSAM,31205576.0,19177977.0,61.456892
18,19,WEST BENGAL,91276115.0,61538281.0,67.419917
19,20,JHARKHAND,32988134.0,18328069.0,55.559581
20,21,ODISHA,41974218.0,26742595.0,63.711955
21,22,CHHATTISGARH,25545198.0,15379922.0,60.206705
22,23,MADHYA PRADESH,72626809.0,42851169.0,59.001861
23,24,GUJARAT,60439692.0,41093358.0,67.990681
24,25,DAMAN & DIU,243247.0,188406.0,77.454604
25,26,DADRA & NAGAR HAVELI,343709.0,223230.0,64.947383
26,27,MAHARASHTRA,112374333.0,81554290.0,72.573770
27,28,ANDHRA PRADESH,84580777.0,50556760.0,59.773345
28,29,KARNATAKA,61095297.0,40647322.0,66.531016
29,30,GOA,1458545.0,1165487.0,79.907511
30,31,LAKSHADWEEP,64473.0,52553.0,81.511641
31,32,KERALA,33406061.0,28135824.0,84.223710
32,33,TAMIL NADU,72147030.0,51837507.0,71.849814
33,34,PUDUCHERRY,1247953.0,957309.0,76.710341
34,35,ANDAMAN & NICOBAR ISLANDS,380581.0,294281.0,77.324144

In [38]:
#Considering the low litracy rate to be below average litracy rate

In [39]:
treshold_lr = lr['literacy_rate'].mean()

In [40]:
#States that are with low litracy rates

In [41]:
lr[lr['literacy_rate']< treshold_lr]

              state_name   Population    Literates  literacy_rate
0        JAMMU & KASHMIR   12541302.0    7067233.0      56.351669
2                 PUNJAB   27743338.0   18707137.0      67.429294
5                HARYANA   25351462.0   16598988.0      65.475466
7              RAJASTHAN   68548437.0   38275282.0      55.836841
8          UTTAR PRADESH  199812341.0  114397555.0      57.252497
9                  BIHAR  104099452.0   52504553.0      50.436916
11     ARUNACHAL PRADESH    1383727.0     766005.0      55.358102
13               MANIPUR    2855794.0    1908476.0      66.828210
16             MEGHALAYA    2966889.0    1785005.0      60.164199
17                 ASSAM   31205576.0   19177977.0      61.456892
18           WEST BENGAL   91276115.0   61538281.0      67.419917
19             JHARKHAND   32988134.0   18328069.0      55.559581
20                ODISHA   41974218.0   26742595.0      63.711955
21          CHHATTISGARH   25545198.0   15379922.0      60.206705
22        MADHYA PRADESH   72626809.0   42851169.0      59.001861
25  DADRA & NAGAR HAVELI     343709.0     223230.0      64.947383
27        ANDHRA PRADESH   84580777.0   50556760.0      59.773345
28             KARNATAKA   61095297.0   40647322.0      66.531016

In [42]:
# plotting the litracy rate on map

# 2. Find out most similar districts in Bihar and Tamil Nadu. 
#Similarity can be based on any of the columns from the data.

In [47]:
br_tn = df

In [48]:
temp_br = br_tn[br_tn['State name']=='BIHAR'] 
temp_tn = br_tn[br_tn['State name']=='TAMIL NADU']

In [49]:
temp_br

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
202,203,BIHAR,Pashchim Champaran,3935042,2061110,1873932,1759481,1091226,668255,553944,...,621,1968,138,21,159,30,49,79,40,3181
203,204,BIHAR,Purba Champaran,5099371,2681209,2418162,2276957,1407603,869354,649726,...,797,2551,223,18,241,25,40,65,47,4098

In [67]:
temp_tn.head(3)

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
601,602,TAMIL NADU,Thiruvallur,3728104,1876062,1852042,2791721,1495711,1296010,821646,...,1732,3672,1137,455,1592,472,876,1348,580,7731
602,603,TAMIL NADU,Chennai,4646732,2335844,2310888,3776276,1968079,1808197,779667,...,3685,5802,1954,1866,3820,748,1214,1962,3686,15742
603,604,TAMIL NADU,Kancheepuram,3998252,2012958,1985294,3013382,1611461,1401921,948081,...,1965,3958,1138,560,1698,522,832,1354,797,8349

In [51]:
def literacy_rate(pop,lit):
    res = float((lit/pop)*100)
    return res

In [52]:
lit_rate = []
for i in range(len(br.index)):
               dist = br.iloc[i]
               pop  = int(dist[['Population']])
               lit  = int(dist[['Literate']])
               rate = literacy_rate(pop,lit)
               lit_rate.append(rate)

In [68]:
#3.How does the mobile penetration vary in regions (districts or states) with high or low
#agricultural​ ​ workers?

In [71]:
mob = df[['State name','Households_with_Telephone_Mobile_Phone_Mobile_only']]

In [72]:
mob.head(3)

        State name  Households_with_Telephone_Mobile_Phone_Mobile_only
0  JAMMU & KASHMIR                                              53437
1  JAMMU & KASHMIR                                              65783
2  JAMMU & KASHMIR                                               6331

In [74]:
max(df['Agricultural_Workers'])

1227956