# 2.Use case : 2                         (2011 IndiaCensus)

In [24]:
# Load the dataset

In [25]:
import pandas as pd
import numpy as np

In [26]:
census = pd.read_csv("./dataset/india-districts-census-2011.csv")
data = census

In [27]:
df = pd.DataFrame(data)

In [28]:
len(df.columns)

118

In [29]:
#1. Create a geographic map of states with low literacy rates.

In [30]:
list(df)

['District code',
 'State name',
 'District name',
 'Population',
 'Male',
 'Female',
 'Literate',
 'Male_Literate',
 'Female_Literate',
 'SC',
 'Male_SC',
 'Female_SC',
 'ST',
 'Male_ST',
 'Female_ST',
 'Workers',
 'Male_Workers',
 'Female_Workers',
 'Main_Workers',
 'Marginal_Workers',
 'Non_Workers',
 'Cultivator_Workers',
 'Agricultural_Workers',
 'Household_Workers',
 'Other_Workers',
 'Hindus',
 'Muslims',
 'Christians',
 'Sikhs',
 'Buddhists',
 'Jains',
 'Others_Religions',
 'Religion_Not_Stated',
 'LPG_or_PNG_Households',
 'Housholds_with_Electric_Lighting',
 'Households_with_Internet',
 'Households_with_Computer',
 'Rural_Households',
 'Urban_Households',
 'Households',
 'Below_Primary_Education',
 'Primary_Education',
 'Middle_Education',
 'Secondary_Education',
 'Higher_Education',
 'Graduate_Education',
 'Other_Education',
 'Literate_Education',
 'Illiterate_Education',
 'Total_Education',
 'Age_Group_0_29',
 'Age_Group_30_49',
 'Age_Group_50',
 'Age not stated',
 'Households_with_Bicycle',
 'Households_with_Car_Jeep_Van',
 'Households_with_Radio_Transistor',
 'Households_with_Scooter_Motorcycle_Moped',
 'Households_with_Telephone_Mobile_Phone_Landline_only',
 'Households_with_Telephone_Mobile_Phone_Mobile_only',
 'Households_with_TV_Computer_Laptop_Telephone_mobile_phone_and_Scooter_Car',
 'Households_with_Television',
 'Households_with_Telephone_Mobile_Phone',
 'Households_with_Telephone_Mobile_Phone_Both',
 'Condition_of_occupied_census_houses_Dilapidated_Households',
 'Households_with_separate_kitchen_Cooking_inside_house',
 'Having_bathing_facility_Total_Households',
 'Having_latrine_facility_within_the_premises_Total_Households',
 'Ownership_Owned_Households',
 'Ownership_Rented_Households',
 'Type_of_bathing_facility_Enclosure_without_roof_Households',
 'Type_of_fuel_used_for_cooking_Any_other_Households',
 'Type_of_latrine_facility_Pit_latrine_Households',
 'Type_of_latrine_facility_Other_latrine_Households',
 'Type_of_latrine_facility_Night_soil_disposed_into_open_drain_Households',
 'Type_of_latrine_facility_Flush_pour_flush_latrine_connected_to_other_system_Households',
 'Not_having_bathing_facility_within_the_premises_Total_Households',
 'Not_having_latrine_facility_within_the_premises_Alternative_source_Open_Households',
 'Main_source_of_drinking_water_Un_covered_well_Households',
 'Main_source_of_drinking_water_Handpump_Tubewell_Borewell_Households',
 'Main_source_of_drinking_water_Spring_Households',
 'Main_source_of_drinking_water_River_Canal_Households',
 'Main_source_of_drinking_water_Other_sources_Households',
 'Main_source_of_drinking_water_Other_sources_Spring_River_Canal_Tank_Pond_Lake_Other_sources__Households',
 'Location_of_drinking_water_source_Near_the_premises_Households',
 'Location_of_drinking_water_source_Within_the_premises_Households',
 'Main_source_of_drinking_water_Tank_Pond_Lake_Households',
 'Main_source_of_drinking_water_Tapwater_Households',
 'Main_source_of_drinking_water_Tubewell_Borehole_Households',
 'Household_size_1_person_Households',
 'Household_size_2_persons_Households',
 'Household_size_1_to_2_persons',
 'Household_size_3_persons_Households',
 'Household_size_3_to_5_persons_Households',
 'Household_size_4_persons_Households',
 'Household_size_5_persons_Households',
 'Household_size_6_8_persons_Households',
 'Household_size_9_persons_and_above_Households',
 'Location_of_drinking_water_source_Away_Households',
 'Married_couples_1_Households',
 'Married_couples_2_Households',
 'Married_couples_3_Households',
 'Married_couples_3_or_more_Households',
 'Married_couples_4_Households',
 'Married_couples_5__Households',
 'Married_couples_None_Households',
 'Power_Parity_Less_than_Rs_45000',
 'Power_Parity_Rs_45000_90000',
 'Power_Parity_Rs_90000_150000',
 'Power_Parity_Rs_45000_150000',
 'Power_Parity_Rs_150000_240000',
 'Power_Parity_Rs_240000_330000',
 'Power_Parity_Rs_150000_330000',
 'Power_Parity_Rs_330000_425000',
 'Power_Parity_Rs_425000_545000',
 'Power_Parity_Rs_330000_545000',
 'Power_Parity_Above_Rs_545000',
 'Total_Power_Parity']

In [31]:
(df.Literate_Education).head(3)

0    405015
1    374972
2     75493
Name: Literate_Education, dtype: int64

In [32]:
temp= df[['State name','Population','Literate']]

In [33]:
list(temp)

['State name', 'Population', 'Literate']

In [34]:
state = list(temp['State name'].unique())

In [35]:
temp[temp["State name"]==state[1]]

          State name  Population  Literate
22  HIMACHAL PRADESH      519080    323842
23  HIMACHAL PRADESH     1510075   1152640
24  HIMACHAL PRADESH       31564     21845
25  HIMACHAL PRADESH      437903    307672
26  HIMACHAL PRADESH      999777    723747
27  HIMACHAL PRADESH      454768    358091
28  HIMACHAL PRADESH      521173    399715
29  HIMACHAL PRADESH      381956    287620
30  HIMACHAL PRADESH      580320    428578
31  HIMACHAL PRADESH      529855    362645
32  HIMACHAL PRADESH      814010    612642
33  HIMACHAL PRADESH       84121     60699

In [36]:
def states_name_pop(name):
    state_name =  (temp[temp["State name"]== name])
    popul      =  np.sum(state_name["Population"])
    literates  =  np.sum(state_name['Literate'])
    lr         =  ((np.divide(literates,popul,dtype=float)*100))
    return(popul,literates,lr)

In [38]:
combined = []
for i in(range(len(state))):
    name = state[i]
    [popul,literates,lr] = states_name_pop(name)
    combined.append([name,popul,literates,lr])

In [39]:
lr = pd.DataFrame(combined,columns=['state_name','Population','Literates','literacy_rate'])

In [40]:
lr.head(3)

         state_name  Population  Literates  literacy_rate
0   JAMMU & KASHMIR    12541302    7067233      56.351669
1  HIMACHAL PRADESH     6864602    5039736      73.416288
2            PUNJAB    27743338   18707137      67.429294

In [41]:
#Considering the low litracy rate to be below average litracy rate

In [42]:
treshold_lr = lr['literacy_rate'].mean()

In [43]:
#States that are with low litracy rates

In [44]:
lr[lr['literacy_rate']< treshold_lr]

              state_name  Population  Literates  literacy_rate
0        JAMMU & KASHMIR    12541302    7067233      56.351669
2                 PUNJAB    27743338   18707137      67.429294
5                HARYANA    25351462   16598988      65.475466
7              RAJASTHAN    68548437   38275282      55.836841
8          UTTAR PRADESH   199812341  114397555      57.252497
9                  BIHAR   104099452   52504553      50.436916
11     ARUNACHAL PRADESH     1383727     766005      55.358102
13               MANIPUR     2855794    1908476      66.828210
16             MEGHALAYA     2966889    1785005      60.164199
17                 ASSAM    31205576   19177977      61.456892
18           WEST BENGAL    91276115   61538281      67.419917
19             JHARKHAND    32988134   18328069      55.559581
20                ODISHA    41974218   26742595      63.711955
21          CHHATTISGARH    25545198   15379922      60.206705
22        MADHYA PRADESH    72626809   42851169      59.001861
25  DADRA & NAGAR HAVELI      343709     223230      64.947383
27        ANDHRA PRADESH    84580777   50556760      59.773345
28             KARNATAKA    61095297   40647322      66.531016

In [45]:
# plotting the litracy rate on map

# 2. Find out most similar districts in Bihar and Tamil Nadu. 
#Similarity can be based on any of the columns from the data.

In [74]:
br_tn = df

In [81]:
temp_br = br_tn[br_tn['State name']=='BIHAR'] 
temp_tn = br_tn[br_tn['State name']=='TAMIL NADU']

In [82]:
br.head(2)

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
202,203,BIHAR,Pashchim Champaran,3935042,2061110,1873932,1759481,1091226,668255,553944,...,621,1968,138,21,159,30,49,79,40,3181
203,204,BIHAR,Purba Champaran,5099371,2681209,2418162,2276957,1407603,869354,649726,...,797,2551,223,18,241,25,40,65,47,4098

In [116]:
br = (temp_br[['District name','Population','Literate']])

In [117]:
def literacy_rate(pop,lit):
    res = float((lit/pop)*100)
    return res

In [122]:
lit_rate = []
for i in range(len(br.index)):
               dist = br.iloc[i]
               pop  = int(dist[['Population']])
               lit  = int(dist[['Literate']])
               rate = literacy_rate(pop,lit)
               lit_rate.append(rate)