# 2.Use case : 2                         (2011 IndiaCensus)

In [1]:
# Load the dataset

In [2]:
import pandas as pd

In [3]:
census = pd.read_csv("./dataset/india-districts-census-2011.csv")
data = census

In [4]:
df = pd.DataFrame(data)

In [5]:
len(df.columns)

118

In [6]:
#1. Create a geographic map of states with low literacy rates.

In [7]:
list(df)

['District code',
 'State name',
 'District name',
 'Population',
 'Male',
 'Female',
 'Literate',
 'Male_Literate',
 'Female_Literate',
 'SC',
 'Male_SC',
 'Female_SC',
 'ST',
 'Male_ST',
 'Female_ST',
 'Workers',
 'Male_Workers',
 'Female_Workers',
 'Main_Workers',
 'Marginal_Workers',
 'Non_Workers',
 'Cultivator_Workers',
 'Agricultural_Workers',
 'Household_Workers',
 'Other_Workers',
 'Hindus',
 'Muslims',
 'Christians',
 'Sikhs',
 'Buddhists',
 'Jains',
 'Others_Religions',
 'Religion_Not_Stated',
 'LPG_or_PNG_Households',
 'Housholds_with_Electric_Lighting',
 'Households_with_Internet',
 'Households_with_Computer',
 'Rural_Households',
 'Urban_Households',
 'Households',
 'Below_Primary_Education',
 'Primary_Education',
 'Middle_Education',
 'Secondary_Education',
 'Higher_Education',
 'Graduate_Education',
 'Other_Education',
 'Literate_Education',
 'Illiterate_Education',
 'Total_Education',
 'Age_Group_0_29',
 'Age_Group_30_49',
 'Age_Group_50',
 'Age not stated',
 'Households_with_Bicycle',
 'Households_with_Car_Jeep_Van',
 'Households_with_Radio_Transistor',
 'Households_with_Scooter_Motorcycle_Moped',
 'Households_with_Telephone_Mobile_Phone_Landline_only',
 'Households_with_Telephone_Mobile_Phone_Mobile_only',
 'Households_with_TV_Computer_Laptop_Telephone_mobile_phone_and_Scooter_Car',
 'Households_with_Television',
 'Households_with_Telephone_Mobile_Phone',
 'Households_with_Telephone_Mobile_Phone_Both',
 'Condition_of_occupied_census_houses_Dilapidated_Households',
 'Households_with_separate_kitchen_Cooking_inside_house',
 'Having_bathing_facility_Total_Households',
 'Having_latrine_facility_within_the_premises_Total_Households',
 'Ownership_Owned_Households',
 'Ownership_Rented_Households',
 'Type_of_bathing_facility_Enclosure_without_roof_Households',
 'Type_of_fuel_used_for_cooking_Any_other_Households',
 'Type_of_latrine_facility_Pit_latrine_Households',
 'Type_of_latrine_facility_Other_latrine_Households',
 'Type_of_latrine_facility_Night_soil_disposed_into_open_drain_Households',
 'Type_of_latrine_facility_Flush_pour_flush_latrine_connected_to_other_system_Households',
 'Not_having_bathing_facility_within_the_premises_Total_Households',
 'Not_having_latrine_facility_within_the_premises_Alternative_source_Open_Households',
 'Main_source_of_drinking_water_Un_covered_well_Households',
 'Main_source_of_drinking_water_Handpump_Tubewell_Borewell_Households',
 'Main_source_of_drinking_water_Spring_Households',
 'Main_source_of_drinking_water_River_Canal_Households',
 'Main_source_of_drinking_water_Other_sources_Households',
 'Main_source_of_drinking_water_Other_sources_Spring_River_Canal_Tank_Pond_Lake_Other_sources__Households',
 'Location_of_drinking_water_source_Near_the_premises_Households',
 'Location_of_drinking_water_source_Within_the_premises_Households',
 'Main_source_of_drinking_water_Tank_Pond_Lake_Households',
 'Main_source_of_drinking_water_Tapwater_Households',
 'Main_source_of_drinking_water_Tubewell_Borehole_Households',
 'Household_size_1_person_Households',
 'Household_size_2_persons_Households',
 'Household_size_1_to_2_persons',
 'Household_size_3_persons_Households',
 'Household_size_3_to_5_persons_Households',
 'Household_size_4_persons_Households',
 'Household_size_5_persons_Households',
 'Household_size_6_8_persons_Households',
 'Household_size_9_persons_and_above_Households',
 'Location_of_drinking_water_source_Away_Households',
 'Married_couples_1_Households',
 'Married_couples_2_Households',
 'Married_couples_3_Households',
 'Married_couples_3_or_more_Households',
 'Married_couples_4_Households',
 'Married_couples_5__Households',
 'Married_couples_None_Households',
 'Power_Parity_Less_than_Rs_45000',
 'Power_Parity_Rs_45000_90000',
 'Power_Parity_Rs_90000_150000',
 'Power_Parity_Rs_45000_150000',
 'Power_Parity_Rs_150000_240000',
 'Power_Parity_Rs_240000_330000',
 'Power_Parity_Rs_150000_330000',
 'Power_Parity_Rs_330000_425000',
 'Power_Parity_Rs_425000_545000',
 'Power_Parity_Rs_330000_545000',
 'Power_Parity_Above_Rs_545000',
 'Total_Power_Parity']

In [8]:
(df.Literate_Education).head(3)

0    405015
1    374972
2     75493
Name: Literate_Education, dtype: int64

In [9]:
lr = df[['State name','Population','Literate']]

In [10]:
list(lr)

['State name', 'Population', 'Literate']

In [11]:
lr.head(5)

        State name  Population  Literate
0  JAMMU & KASHMIR      870354    439654
1  JAMMU & KASHMIR      753745    335649
2  JAMMU & KASHMIR      133487     93770
3  JAMMU & KASHMIR      140802     86236
4  JAMMU & KASHMIR      476835    261724

In [12]:
state = list(lr['State name'].unique())

In [13]:
lr[lr["State name"]==state[0]]

         State name  Population  Literate
0   JAMMU & KASHMIR      870354    439654
1   JAMMU & KASHMIR      753745    335649
2   JAMMU & KASHMIR      133487     93770
3   JAMMU & KASHMIR      140802     86236
4   JAMMU & KASHMIR      476835    261724
5   JAMMU & KASHMIR      642415    364109
6   JAMMU & KASHMIR      616435    389204
7   JAMMU & KASHMIR     1008039    545149
8   JAMMU & KASHMIR      392232    185979
9   JAMMU & KASHMIR     1236829    748584
10  JAMMU & KASHMIR      297446    143276
11  JAMMU & KASHMIR      560440    293958
12  JAMMU & KASHMIR      266215    136500
13  JAMMU & KASHMIR     1078692    545532
14  JAMMU & KASHMIR      424483    209085
15  JAMMU & KASHMIR      409936    219083
16  JAMMU & KASHMIR      283713    124065
17  JAMMU & KASHMIR      230696    107506
18  JAMMU & KASHMIR      554985    322354
19  JAMMU & KASHMIR      314667    150542
20  JAMMU & KASHMIR     1529958   1137135
21  JAMMU & KASHMIR      318898    228139

In [14]:
for i in range(len(lr['State name']):
               
               (lr[lr["State name"]==state[]])

SyntaxError: invalid syntax (<ipython-input-14-7b4db838d47c>, line 1)